body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 13%, 0.905);
    font-size: 20px;
    color: white;
}

.container {
    background-color: rgb(146, 146, 146);
    width: 75%;
    height: auto;
    margin: 25% auto;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(100, 100, 100);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h1 {
    text-align: center;
    color: rgba(63, 197, 90, 0.787);
    font-size: 2.5em;
}

#tipForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}